@import "variables";
body{
    margin:0px;
}

.putFromSource{
    font-family: $lato;
    padding-top: 10px;
}

.card-title{
    padding: 5px;
}
.card-subtitle{
    font-family: $lato;
    padding: 5px;
}

ul.trainings li {
padding: 10px;
}

ul.skills li {
padding: 10px;
}

ul.hobbies li {
padding: 10px;
}
.btn {
    border-color:rgb(60, 96, 180);
    border-width:1px;
}

